
@{
    ViewBag.Title = "Create";
}

<h2>Tao moi</h2>

<form action="Create" method="post">
    Ma san pham: <input name="productID"/>
    Ten san pham: <input name="productName"/>
    Loai: <input name="categoryOfProductID" />
    <input type="submit" value="Luu"/>
</form>