
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<form action="Create" method="Post">
    <h1>ID</h1>
    <input name="productID"/>
    <h1>Name</h1>
    <input name="NameOfProduct"/>
   <input type="submit" value="Save"/>
</form>

